
body {
    background-color: #0B0C10;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #C5C6C7;
}
.customcursor{
    cursor: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Om_symbol.svg/32px-Om_symbol.svg.png', auto);
}



a {
    text-decoration: none;
    color: inherit;
}


#topbar {
    text-align: center;
    color: #C5C6C7;
    font-size: 1.5rem;
}


#topnav {
    width: 100%;
    background-color: #1F2833;
}

#topnav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#topnav li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #45A29E;
    font-size: 1rem;
    transition: all 0.3s ease;
}

#topnav li a:hover {
    border: 2px groove #45A29E;
    border-radius: 8px;
    color: #66FCF1;
}


.picture-mine {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: double 3px #45A29E;
    object-fit: cover;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.picture-mine:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px #45A29E;
    border: none;
}


#main, #resume {
    background-color: #1F2833;
    padding: 1rem;
    border: double 2px #45A29E;
    border-radius: 16px;
    margin: 1rem auto;
    max-width: 90%;
    color: #45A29E;
}

.ccard {
    border: 1px solid #45A29E;
    border-radius: 12px;
    padding: 2rem;
    font-family: monospace;
    background-color: #0B0C10;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transform: scale(0.95);
}

.ccard ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.ccard ul li {
    padding: 0.5rem 1rem;
    border: 1px solid #45A29E;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: auto;
}

.ccard ul li:hover {
    transform: scale(1.1);
    border-style: groove;
    color: #45A29E;
}


.rbtn, .socialink {
    padding: 0.5rem 1rem;
    border: 1px groove #C5C6C7;
    border-radius: 12px;
    color: #C5C6C7;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rbtn:hover, .socialink:hover {
    color: #45A29E;
    border-color: #45A29E;
   transform: scale(1.1);
}


.rbtn:active{
    scale: 1.2;
}
footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
    color: #C5C6C7;
}


.traits {
    color: #45A29E;
}

.txtdeco:hover{
color: #45A29E;
}
