#topbar {
    text-align: center;
    color: #C5C6C7;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #0B0C10;
    margin: none;

}

.picture-mine {
    border-radius: 50%;
    border-style: double;
    max-width: 12rem;
    max-height: 12rem;
    line-height: 5rem;
}

.picture-mine:hover {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border-style: hidden;
    max-width: 12rem;
    box-shadow: 3px 3px 8px #45A29E, -3px -3px 8px #45A29E, -3px 3px 8px #45A29E, 3px -3px 8px #45A29E;
    transform: scale(1.4);
    align-items: center;
    transition-duration: 1.5s;


}

.footer a {
    text-decoration: none;
    color: grey;
    font-size: smaller;
}




#topnav {
    position: relative;
    margin: 0;
    padding: 0;
    height: 35px;
    width: 100%;
}

#topnav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    list-style-type: none;
    background-color: #1F2833;
    overflow: visible;
}

#topnav ul li {
    display: block;
    float: left;
    height: auto;
    width: 120px;
}

#topnav ul li a {
    display: block;
    padding: 0 0 0 10px;
    height: 100%;
    width: 109px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: medium;
    text-decoration: none;
    color: #45A29E;
}

li a:hover {
    border: #45A29E;
    border-style: groove;
    border-radius: 12px;
    color: #45A29E;

}

#main {

    background-color: #1F2833;
    font-size: x-large;
    border-radius: 16px;
    border-style: double;
    color: #45A29E;
    font-family: consolas;

}

.ccard {
    justify-content: center;
    align-items: center;
    border: 1px solid #45A29E;
    color: #ffffff;
    font-family: monospace;
    padding: 2rem;
    border-radius: 12px;
    line-height: 1.5rem;
    scale: 0.9;

}


#resume {
    max-width: fit-content;
    background-color: #1F2833;
    font-size: large;
    border-radius: 16px;
    border-style: double;
    color: #45A29E;
    font-family: cursive;
}

footer {
    color: #C5C6C7;
    margin-top: 20px;
    text-align: center;
    font-size: small;
}

.traits {
    color: #45A29E;
}

.socialink {
    text-decoration: none;
    cursor: pointer;
    color: #C5C6C7;
    font-size: large;
}

.socialink:hover {
    border: #45A29E;
    border-style: groove;
    border-radius: 12px;
    color: #45A29E;
    padding: 4px;
}

.rbtn {
    text-decoration: none;
    cursor: pointer;
    color: #C5C6C7;
    font-size: large;
    border: #C5C6C7;
    border-style: groove;
    border-radius: 12px;
    padding: 4px;

}

.rbtn:hover {
    border: #45A29E;
    border-style: groove;
    border-radius: 12px;
    color: #45A29E;
    padding: 4px;
}