.logo {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 16px, 0px -4px 16px, 4px 0px 16px, -4px 0px 16px;
    margin: 4px;
}

.headline {
    color: rgb(5, 189, 5);
    text-shadow: 6px 6px 10px;
    margin-left: auto;
    font-family: consolas;

}

.add {
    font-size: large;
}

.mob {
    font-size: small;
}

li {
    margin-bottom: 6px;
    list-style: none;
}

.pic {
    transform: scaleX(0.9);
}