#myForm {
    color: #eeedeb;
    background-color: #2f3645;
    padding: 2rem;
    margin: 0 auto;
    border: 1rem groove #939185;
    border-radius: 2rem;
    box-shadow: 2px 2px 4px grey;
    max-width: fit-content;
    
  }
  #myForm button {
    padding: 0.5rem;
    font-size: normal;
    background-color: #E6B9A6;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  #save{
    display: none;
    text-decoration: none;
  text-align: center;
  padding: 0.5rem;
    font-size: normal;
    background-color: #E6B9A6;
    margin: 1rem;
    border-radius: 1rem ;
  }
  #preview{
    float: right;
    min-height: 150px;
    min-width: 120px;
    border: 1px solid #E6B9A6 ;
   
    scale: 0.8;
  }
#author{
  display: block;
}
#author h1,h3{
  text-align: center;
  font-family: cursive;
}
#add{

 margin: 0 auto;
 max-width: 1000px;
 display: grid;
}