a {
  text-decoration: none;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
}


.rbtn {
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  outline: none;
  cursor: pointer;
  border-style: ridge;
  box-shadow: -2px -2px 2px #45A29E;
  color: white;
  transition-duration: 1s;
  padding: 0.8rem;
  font-size: large;
  margin: 1rem;
  
}
summary{
  cursor: pointer;
}
.rbtn p{
  font-size: x-small;
  max-width: 12rem;
  text-align: center;
}
.rbtn:hover {
  border-top-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  outline: none;
  cursor: pointer;
  border-style: ridge;
  box-shadow: 4px 4px 2px #45A29E;
 
  color:white;
  scale: 1.2;
}

.shead {
  font-size: x-large;
}
.footer a {
  text-decoration: none;
  color: grey;
  font-size: smaller;
}

* {
  margin: none;
  padding: none;
 background-color: #1F2833;
}
