#key {

}


#box span{
  background-color: #00000005;
  box-shadow: 1px 1px 2px black;
  
}

#box {

  margin: 10rem auto;
  border: 2px solid black;
  width: 25rem;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  scale: 0.6;
}
#box div:nth-of-type(1) {
  display: flex;
  justify-content: space-evenly;
}
#box div:nth-of-type(1) span {
  border: 1px inset black;
  width: 1.5rem;
  height: 1rem;
  border-radius: 0.4rem;
  font-size: xx-small;
  text-align: center;
  align-content: center;
}
#box div:nth-of-type(1) span:nth-of-type(1) {
  width: 2rem;
}
#box div:nth-of-type(2) {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.2rem;
  }
#box div:nth-of-type(2) span{
    border: 1px inset black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    font-size: xx-small;
  text-align: center;
  align-content: center;
  }
  #box div:nth-of-type(2) span:nth-of-type(14) {
    width: 2.5rem;
  }
  #box div:nth-of-type(3) {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.2rem;
    font-size: xx-small;
  text-align: center;
 align-content: center;
  }
#box div:nth-of-type(3) span{
    border: 1px inset black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    align-content: center;
  }
  #box div:nth-of-type(3) span:nth-of-type(1) {
    width: 2rem;
  }
  #box div:nth-of-type(4) {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.2rem;
    font-size: xx-small;
    text-align: center;
    align-content: center;
  }
#box div:nth-of-type(4) span{
    border: 1px inset black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    align-content: center;
  }
  #box div:nth-of-type(4) span:nth-of-type(1) {
    width: 2.6rem;
  }
  #box div:nth-of-type(4) span:nth-of-type(13) {
    width: 2.6rem;
  }
  #box div:nth-of-type(5) {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.2rem;
    font-size: xx-small;
    text-align: center;
    align-content: center;
  }
#box div:nth-of-type(5) span{
    border: 1px inset black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    align-content: center;
  }
  #box div:nth-of-type(5) span:nth-of-type(1) {
    width: 3.5rem;
  }
  #box div:nth-of-type(5) span:nth-of-type(12) {
    width: 3.5rem;
  }
  #box div:nth-of-type(6) {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.2rem;
    font-size: xx-small;
    text-align: center;
    align-content: center;
  }
#box div:nth-of-type(6) span{
    border: 1px inset black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    align-content: center;
  }
  #box div:nth-of-type(6) span:nth-of-type(1) {
    width: 2rem;
  }
  #box div:nth-of-type(6) span:nth-of-type(5) {
    width: 9rem;
  }
  #box div:nth-of-type(6) span:nth-of-type(9) {
   display: flex;
   flex-direction: column;
    flex-wrap: nowrap;
    border: none;
    justify-content: space-evenly;
  }
  #box div:nth-of-type(6) span:nth-of-type(9) span{
    width: 1.45rem;
    height: 0.8rem;
    
  }
  #box div:nth-of-type(6) span:nth-of-type(9) span:nth-of-type(1){
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  
    
  }
  #box div:nth-of-type(6) span:nth-of-type(9) span:nth-of-type(2){
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 0.1rem;
    transform: rotate(180deg);
  }
 
