footer {
  color: #c5c6c7;
  margin-top: 20px;
  text-align: center;
  font-size: small;
}

.footer a {
  text-decoration: none;
  color: grey;
  font-size: smaller;
}
#head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size:large;
  font-family: cursive;
  color: tomato;
}

#Routine a,#Syllabus a{
  text-decoration: none;
  border: 0.3rem groove tomato;
 padding: 0.4rem;
  border-radius: 0.8rem;
  font-size: large;
  text-align: center;
  color: black;
 display: inline-flex;
 box-shadow: 2px 2px 8px black;
 text-shadow: 1px 1px 3px;
}

#Routine a:hover,#Syllabus a:hover{
  background-color: dodgerblue;
  transition-duration: 0.5s;
  color: white;
  scale: 0.9;
  box-shadow: 2px 2px 2px black;
  text-shadow: 0px 0px 0px;

}

details > summary {
  font-size: normal;
  background-color: tomato;
  list-style-type: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
}
details > summary:hover{
  text-shadow: 3px 3px 4px black;
}
div:nth-of-type(2) {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
 


}
div:nth-of-type(3) {
  scale: 0.9;
  padding: 2rem;
  font-size: normal;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 2rem black;
  background-image: linear-gradient(to top, dodgerblue, rgba(65, 105, 225));


}

div:nth-of-type(3) h3 {
  font-family: consolas;
  text-shadow: 3px 3px 4px black;
}

div:nth-of-type(3) details ul li {
  list-style: none;
}
div:nth-of-type(3) details ul a {
  text-decoration: none;
 
}
div:nth-of-type(3) details ul li{
  text-decoration: none;
  border: 0.3rem groove tomato;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.8rem;
  font-size: large;
  text-align: center;
  color: white;
  display: inline-block;
}

div:nth-of-type(3) details ul li:hover {
  transform: scale(1.2);
  transition-duration: 400ms;
  color: white;
  text-shadow: 2px 2px 3px black;
  box-shadow:2px 2px 3px black,-2px -2px 3px black;
 

}

summary ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

